.desc {
    text-align: center;
    width: 85%;
    margin: 0px auto;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/warehouse2.webp);
  background-size: cover;
  height: 500px;
  color: white;
}

.desc h1 {
    color: #0060B6;
    font-size: 75pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desc h5 {
    width: 65%;
    padding: 15px;
    margin: 15px auto;
}